@import "_all-page.scss";

header {
	height: 100vh;
	width: 100%;
	background: url(../img/header.png) no-repeat;
	background-size: cover;
	.container {
		.wrapper {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			.logo {
				display: flex;
				justify-content: center;
				align-items: center;
				width: $a210;
				background: #fff;
				padding: $a10 0;
				border-radius: 0 0 $a5 $a5;
				img {
					width: 80%;
				}
			}
			.phone {
				display: flex;
				align-items: center;
				.circle{
					display: flex;
					justify-content: center;
					align-items: center;
					border-radius: 50%;	
					border: 2px solid #fff;
					padding: $a8;	
					margin-right: $a15;
					img {
						width: 100%;
					}
				}
				a {
					font-size: $a24;
					color: #fff;
					font-family: 'MullerExtraBold';
				}
			}
			.left {
				margin-top: $a170;
				display: flex;				
				flex-direction: column;
				align-items: flex-start;
				.title {
					font-size: $a30;
					line-height: $a60;
					color: #fff;
					font-family: 'MullerExtraBold';
				}
				h1 {
					display: flex;
					align-items: flex-start;
					flex-direction: column;
					.bg1, .bg2 {
						font-size: $a76;
						line-height: $a60;
						color: #fff;
						text-transform: uppercase;
						font-family: 'MullerExtraBold';
					}
					.bg1 {
						padding: $a21 $a120 $a13 $a22;
						border-radius: $a3;
						box-shadow: 0 $a3 $a16 0 rgba(0, 4, 2, 0.35);
						position: relative;
						z-index: 2;
						background: #037dc6;
					}
					.bg2 {
						position: relative;
						z-index: 1;
						background-color: rgba(3, 125, 198, 0.902);
						border-radius: $a3;
						box-shadow: 0 $a3 $a16 0 rgba(0, 4, 2, 0.35);
						padding: $a20 $a55 $a5 $a22;
					}
				}
				.text {
					background-color: rgba(3, 125, 198, 0.8);
					color: #fff;
					font-size: $a42;
					line-height: $a60;
					text-transform: uppercase;
					font-family: 'MullerRegular';	
					padding: $a16 $a34 $a5 $a22;
					border-radius: $a3;			
				}
				.shit {
					margin-top: $a40;
					display: flex;
					align-items: center;
					.circle1 {
						display: flex;
						justify-content: center;
						align-items: center;
						padding: $a12;
						border-radius: 50%;
						border: 1px solid #283e5b;
						margin-right: $a16;
						img {
							width: 100%;
							border-radius: 50%;
							background: #fff;
							padding: $a11;
						}
					}
					p {
						font-size: $a24;
						line-height: $a36;
						color: #fff;
						font-family: 'MullerRegular';
					}
				}
			}
			.right {
				margin-top: $a135;
				align-items: center;
				display: flex;
				flex-direction: column;
				padding: $a20 $a30 $a30;
				border: $a5 solid #fff;
				border-radius: $a8;
				h3 {
					font-size: $a24;
					line-height: $a30;
					font-family: 'MullerExtraBold';
					text-transform: uppercase;
					color: #fff;
					text-align: center;
					white-space: pre-line;
				}
				p {
					font-size: $a16;
					color: #fff;
					line-height: $a24;
					font-family: 'MullerRegular';
					white-space: pre-line;
					text-align: center;
				}
				button {
					width: 90%;
					border: none;
					text-transform: uppercase;
					color: #fff;
					background: #1eb33e;
					font-family: 'MullerRegular';
					margin-top: $a50;
					padding: $a24 0;
					border-radius: $a20;
					cursor: pointer;
					box-shadow: 0 $a3 $a5 0 rgba(32, 145, 56, 0.17);
				}
			}
		}
	}
}
main {
	width: 100%;
	.block1 {
		display: flex;
		justify-content: space-between;
		background: url(../img/main_bg.png) no-repeat;
		background-size: 100%;
		.block_rgt {
			margin-right: $a95;
			display: flex;
			position: relative;
			.bridge {
				margin-top: -$a45;
				img {
					width: $a128;
				}
			}
			.gallery {
				position: relative;
				margin: $a70 0 0 $a41;
				img {
					width: $a578;
				}
				.item {
					width: 100%;
					position: absolute;
					top: 55%;
					display: flex;
					flex-direction: column;
					align-items: center;
					.but {
						padding: $a12 0 $a10;
						background: #ed1414;
						border-radius: $a12;
						width: $a300;
						box-shadow: 0 $a19 $a5 0 rgba(45, 3, 3, 0.004);
						h3 {
							text-align: center;
							text-transform: uppercase;
							display: flex;
							flex-direction: column;
							font-size: $a36;
							color: #fff;
							font-family: 'MullerExtraBold';
							span {
								font-size: $a20;
							}
						}
					}
					p {
						margin-top: $a20;
						text-align: center;
						white-space: pre-line;
						color: #fff;
						font-size: $a20;
						line-height: $a24;
						font-family: 'MullerRegular';
					}
				}
			}
			.drop {
				position: absolute;
				padding: $a30 0 0 $a165;
				img {
					width: $a565;
				}
			}
			.bg {
				position: relative;
				width: $a490;
				height: $a680;
				background: #037dc6;
				border-radius: $a6;
				position: absolute;
				top: $a205;
				left: $a149;
				z-index: -2;
				.bg_w {
					border-radius: 0 $a6 $a6 $a6;
					width: $a130;
					height: $a100;
					z-index: -1;
					position: absolute;
					background: #fff;
					left: $a4;
				}
			}
		}
		.block_lft {
			display: flex;
			.block_text {
				margin-top: $a143;
				.tower {
					margin-bottom: $a15;
					img {
						width: $a65;
					}
				}
				h3 {
					font-size: $a30;
					line-height: $a36;
					font-family: 'MullerExtraBold';
					text-transform: uppercase;
				}
				p {
					padding-top: $a35;
					font-size: $a20;
					font-family: 'MullerRegular';
					line-height: $a32;
					color: #000000;
					white-space: pre-line;
					.color {
						text-transform: uppercase;
						color: #ed1414;
					}
				}
				p:last-child {
					padding-top: 0;
				}
			}
			.main_left {
				position: relative;
				z-index: -1;
				margin-top: -$a118;
				img {
					width: $a500;
				}
				.item1 {
					border-radius: $a12;
					position: absolute;
					top: 36%;
					left: $a70;
					padding: $a15 0;
					width: $a350;
					background-color: rgb(237, 20, 20);
 					box-shadow: 0 $a19 $a38 0 rgba(237, 20, 20, 0.004);
					h4 {
						text-align: center;
						text-transform: uppercase;
						font-family: 'MullerRegular';
						color: #fff;
						font-size: $a20;
						line-height: $a24;
					}
					p {
						color: #fff;
						text-align: center;
						font-size: $a20;
						line-height: $a24;
						font-family: 'MullerRegular';
					}
				}
			}
		}
	}
} 
