@import "_all-page.scss";

header {
	height: 100vh;
	width: 100%;
	background: url(../img/header.png) no-repeat;
	background-size: cover;
	.container {
		display: flex;
		flex-flow: row wrap;
		.wrapper {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			.logo {
				display: flex;
				justify-content: center;
				align-items: center;
				width: $a210;
				background: #fff;
				padding: $a10 0;
				border-radius: 0 0 $a5 $a5;
				img {
					width: 80%;
				}
			}
			.phone {
				display: flex;
				align-items: center;
				.circle{
					display: flex;
					justify-content: center;
					align-items: center;
					border-radius: 50%;	
					border: 2px solid #fff;
					padding: $a8;	
					margin-right: $a15;
					img {
						width: 100%;
					}
				}
				a {
					font-size: $a24;
					color: #fff;
					font-family: 'MullerExtraBold';
				}
			}
		}
		.left {
			margin-top: 120px;
			position: relative;
			.title {
				color: #fff;
				font-size: $a30;
				font-family: 'MullerExtraBold';
			}
			h1 {
				font-size: $a76;
				color: #fff;
				font-family: 'MullerExtraBold';
				text-transform: uppercase;
				line-height: $a60;
				margin-top: $a20;
				.bg1 {
					background: #0876b8;
					box-shadow: 0px $a3 $a16 0px rgba(0, 4, 2, 0.35);
					border-radius: $a3;
					position: relative;
					z-index: 2;
					padding: $a20 $a103 $a16 $a23;
					display: flex;
					margin-bottom: -$a45;
				}

				.bg2 {
					position: relative;
					z-index: 1;
					border-radius: $a3;
  					background-color: rgb(3, 125, 198);
  					opacity: 0.902;
  					padding: $a5 $a57 0 $a23;
  					box-shadow: 0px $a3 $a16 0px rgba(0, 4, 2, 0.35);
				}
			}
			.text {
				font-size: $a42;
				line-height: $a60;
				color: #fff;
				text-transform: uppercase;
				font-family: 'MullerRegular';
				padding: $a15 $a38 $a5 $a23;
				border-radius: 3px;
				opacity: 0.8;
				background: #0b6ba6;
				position: absolute;
				top: $a225;
			}
		}
		.right {
			padding: $a20 $a10 $a30 $a10;
			display: flex;
			flex-direction: column;
			// justify-content: center;
			align-items: center;
			border: $a5 solid #fff;
			h3 {
				font-size: $a24;
				line-height: $a30;
				color: #fff;
				font-family: 'MullerExtraBold';
				text-transform: uppercase;
			}
			p {
				font-size: $a16;
				line-height: $a24;
				color: #e2e1e1;
				text-transform: uppercase;
				font-family: 'MullerExtraBold';
				text-align: center;
			}
		}
	}
}


