@import "_all-page.scss";

header {
	height: 100vh;
	width: 100%;
	background: url(../img/header.png) no-repeat;
	background-size: cover;
	.container {
		display: flex;
		flex-direction: column;
		height: 100%;
		box-sizing: border-box;
		padding-bottom: $a71;
		.wrapper {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			&:nth-child(2) {
				margin: auto;
			}
			.logo {
				display: flex;
				justify-content: center;
				align-items: center;
				width: $a210;
				background: #fff;
				padding: $a10 0;
				border-radius: 0 0 $a5 $a5;
				img {
					width: 80%;
				}
			}
			.phone {
				display: flex;
				align-items: center;
				.circle{
					display: flex;
					justify-content: center;
					align-items: center;
					border-radius: 50%;	
					border: 2px solid #fff;
					padding: $a8;	
					margin-right: $a15;
					img {
						width: 100%;
					}
				}
				a {
					font-size: $a24;
					color: #fff;
					font-family: 'MullerExtraBold';
				}
			}
			.left {
				display: flex;				
				flex-direction: column;
				align-items: flex-start;
				.title {
					font-size: $a30;
					line-height: $a60;
					color: #fff;
					font-family: 'MullerExtraBold';
				}
				h1 {
					display: flex;
					align-items: flex-start;
					flex-direction: column;
					.bg1, .bg2 {
						font-size: $a76;
						line-height: $a60;
						color: #fff;
						text-transform: uppercase;
						font-family: 'MullerExtraBold';
					}
					.bg1 {
						padding: $a21 $a120 $a13 $a22;
						border-radius: $a3;
						box-shadow: 0 $a3 $a16 0 rgba(0, 4, 2, 0.35);
						position: relative;
						z-index: 2;
						background: #037dc6;
					}
					.bg2 {
						position: relative;
						z-index: 1;
						background-color: rgba(3, 125, 198, 0.902);
						border-radius: $a3;
						box-shadow: 0 $a3 $a16 0 rgba(0, 4, 2, 0.35);
						padding: $a20 $a55 $a5 $a22;
					}
				}
				.text {
					background-color: rgba(3, 125, 198, 0.8);
					color: #fff;
					font-size: $a42;
					line-height: $a60;
					text-transform: uppercase;
					font-family: 'MullerRegular';	
					padding: $a16 $a34 $a5 $a22;
					border-radius: $a3;			
				}
				.shit {
					margin-top: $a40;
					display: flex;
					align-items: center;
					.circle1 {
						display: flex;
						justify-content: center;
						align-items: center;
						padding: $a12;
						border-radius: 50%;
						border: 1px solid #283e5b;
						margin-right: $a16;
						img {
							width: 100%;
							border-radius: 50%;
							background: #fff;
							padding: $a11;
						}
					}
					p {
						font-size: $a24;
						line-height: $a36;
						color: #fff;
						font-family: 'MullerRegular';
					}
				}
			}
			.right {
				align-items: center;
				display: flex;
				flex-direction: column;
				padding: $a20 $a30 $a30;
				border: $a5 solid #fff;
				border-radius: $a8;
				h3 {
					font-size: $a24;
					line-height: $a30;
					font-family: 'MullerExtraBold';
					text-transform: uppercase;
					color: #fff;
					text-align: center;
					white-space: pre-line;
				}
				p {
					font-size: $a16;
					color: #fff;
					line-height: $a24;
					font-family: 'MullerRegular';
					white-space: pre-line;
					text-align: center;
				}
				button {
					width: 90%;
					border: none;
					text-transform: uppercase;
					color: #fff;
					background: #1eb33e;
					font-family: 'MullerRegular';
					margin-top: $a50;
					padding: $a24 0;
					border-radius: $a20;
					cursor: pointer;
					box-shadow: 0 $a3 $a5 0 rgba(32, 145, 56, 0.17);
				}
			}
		}
	}
}
main {
	width: 100%;
	.block1 {
		display: flex;
		justify-content: space-between;
		background: url(../img/main_bg.png) no-repeat;
		background-size: 100%;
		.block_rgt {
			margin-right: $a95;
			display: flex;
			position: relative;
			.bridge {
				margin-top: -$a45;
				img {
					width: $a128;
				}
			}
			.gallery {
				position: relative;
				margin: $a70 0 0 $a41;
				img {
					width: $a578;
				}
				.item {
					width: 100%;
					position: absolute;
					top: 55%;
					display: flex;
					flex-direction: column;
					align-items: center;
					.but {
						padding: $a12 0 $a10;
						background: #ed1414;
						border-radius: $a12;
						width: $a300;
						box-shadow: 0 $a19 $a5 0 rgba(45, 3, 3, 0.6);
						h3 {
							text-align: center;
							text-transform: uppercase;
							display: flex;
							flex-direction: column;
							font-size: $a36;
							color: #fff;
							font-family: 'MullerExtraBold';
							span {
								font-size: $a20;
							}
						}
					}
					p {
						margin-top: $a20;
						text-align: center;
						white-space: pre-line;
						color: #fff;
						font-size: $a20;
						line-height: $a24;
						font-family: 'MullerRegular';
					}
				}
			}
			.drop {
				position: absolute;
				padding: $a30 0 0 $a165;
				img {
					width: $a565;
				}
			}
			.bg {
				position: relative;
				width: $a490;
				height: $a680;
				background: #037dc6;
				border-radius: $a6;
				position: absolute;
				top: $a205;
				left: $a149;
				z-index: -2;
				.bg_w {
					border-radius: 0 $a6 $a6 $a6;
					width: $a130;
					height: $a100;
					z-index: -1;
					position: absolute;
					background: #fff;
					left: $a4;
				}
			}
		}
		.block_lft {
			display: flex;
			.block_text {
				margin-top: $a143;
				.tower {
					margin-bottom: $a15;
					img {
						width: $a65;
					}
				}
				h3 {
					font-size: $a30;
					line-height: $a36;
					font-family: 'MullerExtraBold';
					text-transform: uppercase;
				}
				p {
					padding-top: $a35;
					font-size: $a20;
					font-family: 'MullerRegular';
					line-height: $a32;
					color: #000000;
					white-space: pre-line;
					.color {
						text-transform: uppercase;
						color: #ed1414;
					}
				}
				p:last-child {
					padding-top: 0;
				}
			}
			.main_left {
				position: relative;
				z-index: -1;
				margin-top: -$a118;
				img {
					width: $a500;
				}
				.item1 {
					border-radius: $a12;
					position: absolute;
					top: 36%;
					left: $a70;
					padding: $a15 0;
					width: $a350;
					background-color: rgb(237, 20, 20);
 					box-shadow: 0 $a19 $a38 0 rgba(237, 20, 20, 0.6);
					h4 {
						text-align: center;
						text-transform: uppercase;
						font-family: 'MullerRegular';
						color: #fff;
						font-size: $a20;
						line-height: $a24;
					}
					p {
						color: #fff;
						text-align: center;
						font-size: $a20;
						line-height: $a24;
						font-family: 'MullerRegular';
					}
				}
			}
		}
	}
	.bg_linear {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: -$a96;
		height: $a886;
		width: 100%;
		background: url(../img/banner.png) no-repeat;
		background-size: 100%;
		.vertical_text {
			left: 0;
			bottom: 0;
			top: 0;
			margin: auto;
			position: absolute;
			line-height: 0.7;
		    writing-mode: vertical-lr;
   			transform:rotate(180deg);
   			font-size: $a240;
   			white-space: nowrap;
   			// text-transform: uppercase;
    		color: #fff;
    		font-family: 'UniNeue';
		}
		.lin_grad {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-top: $a15;
			border-radius: $a7;
			width: $a1032;
			height: $a314;
			background: repeating-linear-gradient(135deg, #0375ba 0, #0375ba $a26, #fff $a26, #fff $a52, #fff $a78);
			.wrap_bg {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				width: $a966;
				height: $a248;
				background-color: rgb(255, 255, 255);
  				box-shadow: inset 0 $a24 $a49 0 rgba(0, 4, 2, 0.35);
				p {
					white-space: pre-line;
					font-size: $a20;
					line-height: $a30;
					font-family: 'MullerExtraBold';
					text-align: center;
				}
			}
		}
		.semicircle {
			position: absolute;
			right: 0;
			margin-right: -$a155;
			width: $a195;
			height: $a195;
			border-radius: 50%;
			background: #fff;
		}
	}
	.block_4 {
		position: relative;
		width: 100%;
		.abs1 {
			top: -$a65;
			left: 0;
			img {
				width: $a286;
			}
		}
		.abs2 {
			top: $a150;
			left: 0;
			z-index: -3;
			img {
				width: $a680;
			}
		}
		.abs3 {
			top: $a250;
			right: 0;
			img {
				width: $a269;
			}
		}
		.abs4 {
			right: 0;
			top: $a620;
			img {
				width: $a294;
			}
		}
		.abs5 {
			right: 0;
			z-index: -3;
			top: $a822;
			img {
				width: $a1074;
			}
		}
		.abs6 {
			left: $a40;
			top: $a1100;
			z-index: -3;
			img {
				width: $a393;
			}
		}
		.abs7 {
			left: 0;
			top: $a1400;
			z-index: -3;
			img {
				width: $a547;
			}
		}
		.abs8 {
			right: 0;
			top: $a1860;
			img {
				width: $a200;
			}
		}
		.container {
			padding-bottom: $a190;
			.elevator {
				width: 100%;
				padding: $a110 0 $a40 0;
				display: flex;
				flex-direction: column;
				align-items: center;
				h2 {
					line-height: $a48;
					margin-bottom: $a40;
					text-align: center;
				}
				p {
					font-size: $a36;
					line-height: $a30;
					font-family: 'MullerExtraBold';
					color: #037dc6;
				}
			}
			.page_wrapper {
				.section1:nth-child(2) {
					.bg {
							.bg_1 {
		  						top: $a510 !important;
							}
						}
				}
				.section1:nth-child(2n) {
						.bg {
							top: $a40;;
							right: $a40;
							left: -$a40;;
							bottom: -$a40;
							.bg_1 {
		  						height: $a40;
		  						width: $a130;
		  						top: $a540;
							}
						}
				}
				.section1 {
					margin-bottom: $a77;
					position: relative;
					display: flex;
					// justify-content: space-between;
					box-sizing: border-box;
					padding: $a35 $a50 $a80 $a40;
					border-radius: $a10;
	  				background-color: rgb(255, 255, 255);
	  				box-shadow: 0px 41px 46.5px 0px rgba(0, 4, 2, 0.65);
	  				.bg {
						position: absolute;
						top: $a40;;
						right: -$a40;
						left: $a40;;
						bottom: -$a40;
						z-index: -2;
						border-radius: $a10;
	  					background-color: rgb(3, 125, 198);
	  					.bg_1 {
	  						position: absolute;
	  						right: $a15;
	  						top: $a35;
	  						height: $a130;
	  						width: $a40;
	  						border-radius: $a6;
	 						background-color: rgb(255, 255, 255);
	  						box-shadow: 0px 41px 19.53px 1.47px rgba(0, 4, 2, 0.35);
	  					}
	  				}
	  				.img {
	  					margin-right: $a40;
	  					width: $a468;
	  					display: flex;
	  					justify-content: space-between;
	  					flex-flow: row wrap ;
						.img1 {
							img {
								width: $a468;
							}
						}
						.img2 {
							img {
								width: $a154;
							}
						}
						.img3 {
							img {
								width: $a154;
							}
						}
						.img4 {
							img {
								width: $a154;
							}
						}
	  				}
	  				.texts {
	  					h3 {
	  						font-size: $a24;
	  						line-height: $a30;
	  						font-family: 'MullerExtraBold';
	  					}
	  					.icons {
	  						margin: $a22 0 $a15 0;
	  						display: flex;
	  						align-items: center;
	  						.circle {
	  							display: flex;
	  							justify-content: center;
	  							align-items: center;
	  							width: $a50;
	  							height: $a50;
	  							border-radius: 50%;
	  							background: #037dc6;
	  							margin-right: $a17;
	  							.fa {
	  								font-size: $a24;
	  								line-height: $a30;
	  								color: #fff;
	  							}
	  						}
	  						h4 {
	  							font-size: $a20;
	  							line-height: $a30;
	  							font-family: 'MullerExtraBold';
	  						}
	  					}
	  					p {
	  						font-size: $a20;
	  						line-height: $a32;
	  						font-family: 'MullerRegular';
	  						font-weight: 700;
	  						white-space: pre-line;
	  					}
	  				}	
				}
			}
		} 
	}
	.advantage {
		position: relative;
		width: 100%;
		background: url(../img/bg_slider.png) no-repeat;
		background-size: 100%;
		z-index: 1;
		.vertical_text {
			left: -$a115;
			bottom: -$a15;
			top: 0;
			margin: auto;
			position: absolute;
			line-height: 0.7;
		    writing-mode: vertical-lr;
   			transform:rotate(180deg);
   			font-size: $a240;
   			white-space: nowrap;
   			// text-transform: uppercase;
    		color: #fff;
    		font-family: 'UniNeue';
		}
		.container {
			padding-top: $a95;
			padding-bottom: $a190;
			.profit {
				position: relative;
				z-index: 2;
				display: flex;
				justify-content: center;
				h2 {
					margin: 0;
					color: #fff;
					white-space: pre-line;
					text-align: center;
					line-height: $a48;
					margin-bottom: $a145;
				}
			}
			.slider {
				width: 100%;
				display: flex;
				flex-direction: column;
				align-items: center;
				.item {
					position: relative;
					display: flex;
					align-items: center;
					justify-content: center;
					flex-direction: column;
					width: $a570;
					height: $a300;
					background: #fff;
					opacity: 0;
					transition: .5s;
					border-radius: $a15;
  					box-shadow: 0 $a27 $a40 0 rgba(0, 4, 2, 0.5);
  					h3 {
  						margin-bottom: $a45;
  						text-align: center;
  						text-transform: uppercase;
  						font-size: $a30;
  						line-height: $a36;
  						font-family: 'MullerExtraBold';
  					}
  					.drops {
  						display: flex;
  						justify-content: center;
  						align-items: center;
  						border-radius: 50%;
  						background-color: rgb(3, 124, 196);
  						box-shadow: 0 $a17 $a38 0 rgba(0, 4, 2, 0.35);
  						width: 89px;
  						height: 89px;
  						top: -$a60;
  						z-index: 222;
  						position: absolute;
  					}
  					p {
  						white-space: pre-line;
  						text-align: center;
  						font-size: $a20;
  						line-height: $a30;
  						font-family: 'MullerMedium';
  					}
				}
				.slick-active {
					opacity: 1;
				}
			}
		}	
	}
	.block_5 {
		position: relative;
		.abs1 {
			left: 0;
			top: $a62;
			img {
				width: $a187;
			}
		}
		.abs2 {
			right: 0;
			top: $a24;
			img {
				width: $a133;
			}
		}
		.abs3 {
			right: $a90;
			top: $a243;
			img {
				width: $a220;
			}
		}
		.abs4 {
			right: 0;
			z-index: -1;
			top: -$a430;
			img {
				width: $a642;
			}
		}
		.container {
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: $a85 0;
			.trust {
				display: flex;
				justify-content: center;
				align-items: center;
				h2 {
					margin: 0;
				}
			}
			.bloks {
				width: 100%;
				display: flex;
				margin-top: $a70;
				margin-bottom: $a80;
				justify-content: space-between;
				.banner {
					position: relative;
					background-color: rgb(255, 255, 255);
					box-shadow: 0 25px 30.8px 4.2px rgba(0, 4, 2, 0.15);
 					width: $a260;
  					height: $a160;
  					border-radius: $a15;
  					display: flex;
  					align-items: center;
  					justify-content: center;
  					.border {
  						top: -$a5;
  						position: absolute;
  						img {
  							width: $a270;
  						}
  					}
  					.logo {
  						img {
  							width: $a121;
  						}
  					}
  					.logo1 {
  						img {
							width: $a178;
  						}
  					}
  					.logo2 {
  						img {
							width: $a166;
  						}
  					}
  					.logo3 {
  						img {
							width: $a118;
  						}
  					}
				}
			}
			button {
				cursor: pointer;
				text-transform: uppercase;
				padding: $a28 $a25;
				color: #fff;
				border: none;
				font-size: $a16;
				line-height: $a24;
				border-radius: 20px;
				font-family: 'MullerExtraBold';
			    background-image: -webkit-linear-gradient(left, rgb(20,161,50) 0%, rgb(38,192,70) 100%);
			    background-image: -o-linear-gradient(left, rgb(20,161,50) 0%, rgb(38,192,70) 100%);
			    background-image: linear-gradient(to right, rgb(20,161,50) 0%, rgb(38,192,70) 100%);
			    box-shadow: 0 3px 5px 0px rgba(32, 145, 56, 0.17);
			}
		}
	}
	.history {
		position: relative;
		width: 100%;
		background: url(../img/history_bg.png) no-repeat;
		background-size: 100%;
		.bg_container {
			position: absolute;
			top: 0;
			background-color: rgb(3, 112, 177);
			left: 0;
			// bottom: 0;
			height: $a820;
			width: $a676;
			opacity: 0.6;
			z-index: 1;
		}
		.img_abs {
			position: absolute;
			z-index: 2;
			top: $a32;
			img {
				width: $a252;
			}
		}
		.img_abs1 {
			position: absolute;
			z-index: 2;
			top: $a440;
			right: 0;
			img {
				width: $a218;
			}
		}
		.container {
			display: flex;
			.people_img {
				position: relative;
				z-index: 2;
				img {
					width: $a518;
				}
			}
			.content {
				margin-left: $a90;
				padding-top: $a86;
				h2 {
					margin: 0;
					color: #fff;
					text-transform: uppercase;
				}
				.name {
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					margin: $a40 0 $a40 0;
					h3 {
						margin-bottom: $a10;
						color: #fff;
						text-transform: uppercase;
  						font-size: $a30;
  						line-height: $a36;
  						font-family: 'MullerExtraBold';
					}
					p {
						color: #b3b3b3;
						font-family: 'MullerMedium';
					}
					.border {
						margin-top: $a20;
						width: $a106;
						height: $a5;
						background: #0370b1;
					}
				}
				p {
					line-height: $a30;
					color: #fff;
					font-family: 'MullerMedium';
				}
				.btm {
					margin-bottom: $a35;
				}
				.list {
					margin-top: $a25;
					li {
						white-space: pre-line;
						color: #fff;
						font-size: $a20;
						line-height: $a30;
						font-family: 'MullerMedium';
						margin-bottom: $a25;
					}
					li:before {
						padding:0 $a10;
						content: "";
						width: $a17;
						border-radius: $a5;
  						height: $a17;
   						background: #0370b1;
  						box-shadow: 0px 7px 7px 0px rgba(3, 112, 177, 0.48);
					}
				}
			}
		}
	}
	.portfolio {
		width: 100%;
		position: relative;
		z-index: 3;
		margin-top: -$a125;
		background: #fff;
		.abs1 {
			top: -$a120;
			left: 0;
			img {
				width: $a296;
			}
		}
		.abs2 {
			right: 0;
			top: $a430;
			img {
				width: $a76;
			}
		}
		.container {
			padding-top: $a85;
			display: flex;
			justify-content: center;
			flex-direction: column;
			h2 {
				white-space: pre-line;
				text-align: center;
				line-height: $a48;
				margin: 0;
			}
			.wrapper {
				position: relative;
				margin-top: $a80;
				width: 100%;
				display: flex;
				justify-content: space-between;
				.blocks {
					// display: flex;
					// flex-direction: column;
					// align-items: center;
					.block_rotate {
						position: relative;
						transform: rotate(-45deg);
						display: flex;
						flex-direction: column;
						align-items: center;
						margin-bottom: $a30;
						span {
							font-size: $a90;
							color: #037cc3;
							// line-height: $a30;
							font-family: 'MullerExtraBold';
						}
						.color {
							color: #000000;
						}
						.abs {
							position: absolute;
							color: #000;
							right: 4%;
							bottom: 13%;
							z-index: -1;
							transform: rotate(90deg);
						}
						.fz {
							font-size: $a24;
							line-height: 3.8;
							color: #037cc3;
						}
						.img {
							margin-bottom: $a10;
							margin-top: -$a20;
							display: flex;
							justify-content: center;
							align-items: center;
							border-radius: $a12;
							width: $a125;
	 						height: $a125;
	 						background-color: rgb(255, 255, 255);
	  						box-shadow: 0 $a22 $a51 0 rgba(0, 4, 2, 0.13);
	  						img {
	  							width: $a63;
	  							transform: rotate(45deg);
	  						}
						}
					}
					p {
						line-height: $a30;
						text-align: center;
						font-family: 'MullerMedium';
						padding-left: $a50;
					}
				}
				.bloks1 {
					position: absolute;
					right: 0;
					margin-right: -$a250;
				}
			}
		}
	}
	.key {
		margin-top: $a100;
		background: url(../img/key_bg.png) no-repeat;
		background-size: 100%;
		padding: $a90 $a70 $a75;
		.container {
			display: flex;
			justify-content: center;
			flex-direction: column;
			align-items: center;
			h2 {
				margin: 0;
				text-align: center;
				margin-bottom: $a30;
			}
			h3 {
				margin-bottom: $a50;
				text-align: center;
				font-size: $a36;
				line-height: $a48;
				font-family: 'MullerExtraBold';
				color: #037dc6;
			}
			h3:last-child {
				margin-bottom: 0;
			}
		}
		.wrapper {
			width: 100%;
			margin-top: $a40;
			display: flex;
			justify-content: space-between;
			.left_img {
				.img1 {
					position: relative;
					margin-bottom: $a46;
					img {
						width: $a867;
					}
				}
				.gallery {
					display: flex;
					justify-content: space-between;
					.img2 {
						position: relative;
						img {
							width: $a411;
						}
					}
					.gallery1 {
						.img3 {
							position: relative;
							margin-bottom: $a46;
							img {
								width: $a411;
							}
						}
						.img4 {
							position: relative;
							img {
								width: $a411;
							}
						}
					}
				}
			}
			.right_img {
				.gallery2 {
					margin-bottom: $a46;
					display: flex;
					justify-content: space-between;
					.gallery3 {
						.img7 {
							position: relative;
							margin-bottom: $a46;
							img {
								width: $a411;
							}
						}
						.img8 {
							position: relative;
							img {
								width: $a411;
							}
						}
					}
					.img6 {
						position: relative;
						img {
							width: $a411;
						}
					}
				}
				.img5 {
					position: relative;
					img {
						width: $a864;
					}
				}
			}
		}
	}
	.warranty {
		position: relative;
		.bg {
			position: absolute;
			left: -$a47;
			z-index: -1;
			top: -$a179;
			img {
				width: $a899;
			}
		}
		.abs1 {
			left: 0;
			top: $a370;
			img {
				width: $a172;
			}
		}
		.abs2 {
			right: $a75;
			top: $a140;
			img {
				width: $a201;
			}
		}
		.abs3 {
			right: 0;
			top: $a360;
			img {
				width: $a77;
			}
		}
		.container {
			padding-top: $a120;
			padding-bottom: $a95;
			.title {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				width: 100%;
				h2 {
					margin-bottom: $a35;
				}
				p {
					line-height: $a30;
					font-family: 'MullerRegular';
				}
				h3 {
					text-align: center;
					font-size: $a36;
					line-height: $a48;
					font-family: 'MullerExtraBold';
					color: #037dc6;
					white-space: pre-line;
				}
			}
			.wrap {
				margin-top: $a170;
				display: flex;
				justify-content: space-between;
				.lf, .rt {
					.block {
						width: $a570;
	  					height: $a231;
	  					border-radius: $a8;
	  					background-color: rgb(3, 124, 196);
	  				}
				}
				.lf {
					.block {
						display: flex;
						justify-content: center;
						align-items: flex-end;
						margin-bottom: $a80;
							img {
								width: $a360;
							}
					}
					h2 {
						font-size: $a72;
						line-height: $a20;
						text-align: center;
						color: #037cc4;
						margin-bottom: $a30;
					}
					p {
						line-height: $a20;
						font-family: 'MullerExtraBold';
						text-align: center;
					}
				}
				.rt {
					.block {
						display: flex;
						justify-content: center;
						align-items: flex-end;
						margin-bottom: $a80;
						img {
							width: $a570;
						}
					}
					h2 {
						font-size: $a72;
						line-height: $a20;
						text-align: center;
						color: #037cc4;
						margin-bottom: $a30;
					}
					p {
						line-height: $a20;
						font-family: 'MullerExtraBold';
						text-align: center;
					}
				}
			}
		}
	}
	.save {
		position: relative;
		z-index: -2;
		width: 100%;
		background: url(../img/save_bg.png) no-repeat;
		background-size: 100%;
		.vertical_text {
			text-transform: uppercase;
			left: 0;
			bottom: 0;
			top: 0;
			margin: auto;
			position: absolute;
			line-height: 0.7;
		    writing-mode: vertical-lr;
   			transform:rotate(180deg);
   			font-size: $a240;
   			white-space: nowrap;
   			// text-transform: uppercase;
    		color: #fff;
    		font-family: 'UniNeue';
		}
		.rt {
			right: 0;
			font-size: $a161;
		}
		.container {
			padding-bottom: $a80;
			padding-top: $a90;
			display: flex;
			flex-direction: column;
			align-items: center;
			h2 {
				margin: 0;
				white-space: pre-line;
				text-align: center;
				line-height: $a48;
				color: #fff;
				margin-bottom: $a105;
			}
			.content {
				position: relative;
				display: flex;
				justify-content: space-between;
				width: 100%;
				align-items: center;
				margin-bottom: $a65;
				&:last-child {
					margin-bottom: 0;
				}
				.border_dot {
					z-index: -1;
					top: -$a19;
					left: $a107;
					position: absolute;
					border: 2px dashed #fff;
					border-bottom: transparent;
					width: $a729;
				}
				.border_dot1 {
					// z-index: -1;
					top: -$a19;
					left: $a107;
					position: absolute;
					border: 2px dashed #fff;
					width: $a900;
					height: $a74;
					border-left: transparent;
					border-bottom: transparent;
				}
				.block, .block1, .block2 {
					border-radius: $a8;
  					background-color: rgba(255, 255, 255, 0.702);
  					box-shadow: 0 $a13 $a47 $a4 rgba(0, 4, 2, 0.35);
  					.description1 {
  						padding-left: $a26;
  						.numbers {
  							margin-bottom: $a25;
  							margin-top: -$a40;
  							display: flex;
  							align-items: center;
  							justify-content: center;
  							border-radius: $a8;
  							background: #037cc3;
  							box-shadow: 0 $a18 $a32 0 rgba(0, 4, 2, 0.22);
  							width: $a81;
  							height: $a81;
  							span {
  								font-size: $a36;
  								line-height: $a30;
  								color: #fff;
  								font-family: 'MullerExtraBold';
  							}
  						}
  						p {
    						line-height: $a30;
    						font-family: 'MullerMedium';
  						}
  					}
				}
				.block {
					width: $a370;
  					height: $a235;
				}
				.block1 {
					width: $a370;
  					height: $a165;
				}
				.block2 {
					width: $a775;
  					height: $a190;
  					.description1 {
  						p {
  							text-transform: uppercase;
  							font-family: 'MullerExtraBold';
  						}
  					}
				}
				.button {
					display: flex;
					justify-content: center;
					width: $a370;
					button {
						text-transform: uppercase;
						padding: $a26;
						color: #fff;
						font-family: 'MullerExtraBold';
						font-size: $a16;
						line-height: $a24;
						border: none;
						cursor: pointer;
						border-radius: $a20;
					    background-image: -webkit-linear-gradient(left, rgb(20,161,50) 0%, rgb(38,192,70) 100%);
					    background-image: -o-linear-gradient(left, rgb(20,161,50) 0%, rgb(38,192,70) 100%);
					    background-image: linear-gradient(to right, rgb(20,161,50) 0%, rgb(38,192,70) 100%);
					    box-shadow: 0 $a3 $a5 0 rgba(32, 145, 56, 0.17);
					}		
				}
			}
		}
	}
} 
